*
{
     padding:0;
     margin: 0;
     box-sizing: border-box;
     
}

html
{
    background-color: white;
    font-weight: 300;
    font-size: 21px;
    text-rendering: optimizeLegibility;

}
    
.row
{
     
     margin-right: auto;
     margin-right: auto;
     margin-top: 0;
     margin-bottom:0;
}

header 
   {
       background-image : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6 )),url(Header-2.jpg);
       background-size:cover;
       background-position: center;
       height: 100vh;
       background-attachment: fixed;
       padding: 10px 30px;
    }
h1
{
     
    margin: 0px;
    color:floralwhite;
    font-size:200%;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Livvic', sans-serif;
    
}

cite
{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
    color: white;
    font-size: 20px; 
    text-align:justify;    
}
.Founder-image
{
 margin-top:40px;
 transform: translate(100%,10%);
    float: 
}
.founder-text-span
{
   color: floralwhite;
    padding-top: 50px;
    padding-left: 150px;
   font-family: 'Source Sans Pro', sans-serif;
   display:inline-block;
    vertical-align: top; 
    font-size: 20px;
    line-height: 145%;
}

.founder-info{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    transform: translate(20%,-100%);
}
    
